/* fonts + variables */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --VeryLightGrayBlue: hsl(210, 60%, 98%);
    --lightBlue1: hsl(211, 68%, 94%);
    --lightBlue2: hsl(205, 33%, 90%); 
    --grayBlue: hsl(219, 14%, 63%);
    --DarkGrayishBlue: hsl(219, 12%, 42%);
    --veryDarkBlue: hsl(224, 21%, 14%);
    --borderRadius: 25px; 
    --standardSpacing: 1em; 
    --largeSpacing: 2em;
}

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* main stying and container */
body {
    background-color: var(--VeryLightGrayBlue);
}
.container {
    background-color: white;
    min-width: 57vw;
    height: fit-content;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.116);
    border-radius: var(--borderRadius);
    padding: var(--largeSpacing);
}

/* content styling */
.headingsContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
.headingsText {
    display: flex;
    justify-content: flex-start;
}

.headingsText h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

.headingsText p {
    background-color: var(--blue);
    color: white;
    padding: 2px 14px;
    margin-left: var(--standardSpacing); 
    font-weight: 800;
    border-radius: 8px;
}

.markAsRead h2 {
    color: var(--veryDarkBlue);
    transition: .3s ease-in-out;
}

.markAsRead h2:hover {
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
}

/* notification styling */
.notification {
    display: flex;
    justify-content: flex-start;
    background-color: var(--VeryLightGrayBlue);
    padding: var(--standardSpacing);
    margin: 1em 0;
    border-radius: 10px;
}

.notification img {
    height: 50px; 
    margin-right: var(--standardSpacing);
}

.name {
    font-weight: 800;
    margin-right: 0.2em;
    position: relative;
    transition: .2s ease-in-out;
}

.name:hover {
    color: var(--blue);
    cursor: pointer;
}

.greyText {
    color: var(--grayBlue);
}

.postName {
    font-weight: 800;
    color: var(--DarkGrayishBlue);
    transition: .2s ease-in-out;
}

.postName:hover {
    color: var(--blue);
    cursor: pointer;
}

.dot {
    color: var(--red);
    font-size: 1rem;
    margin-left: .5em;
}

.time {
    position: absolute;
    left: 16%;
    bottom: 15%;
    color: var(--grayBlue);
}



/* ## Colors

### Primary

- Red: hsl(1, 90%, 64%)
- Blue: hsl(219, 85%, 26%)

### Neutral

- White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans)
- Weights: 500, 800 */
