/* fonts + variables */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --VeryLightGrayBlue: hsl(212, 74%, 95%);
    --lightBlue1: hsl(211, 68%, 94%);
    --lightBlue2: hsl(205, 33%, 90%); 
    --grayBlue: hsl(219, 14%, 63%);
    --DarkGrayishBlue: hsl(219, 12%, 42%);
    --veryDarkBlue: hsl(224, 21%, 14%);
    --borderRadius: 25px; 
    --standardSpacing: 1em; 
    --largeSpacing: 2em;
}

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* main stying and container */
body {
    background-color: var(--VeryLightGrayBlue);
}
.container {
    margin: 10rem 0;
    background-color: white;
    min-width: 60vw;
    height: fit-content;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.116);
    border-radius: var(--borderRadius);
    padding: var(--largeSpacing);
}

/* content styling */
.headingsContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
.headingsText {
    display: flex;
    justify-content: flex-start;
}

.headingsText h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

.headingsText p {
    background-color: var(--blue);
    color: white;
    padding: 2px 14px;
    margin-left: var(--standardSpacing); 
    font-weight: 800;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

.lightBlue {
    background-color: var(--grayBlue);
}

.markAsRead h2 {
    color: var(--veryDarkBlue);
    transition: .3s ease-in-out;
}

.markAsRead h2:hover {
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
}

/* notification styling */
.notification {
    display: flex;
    justify-content: flex-start;
    background-color: var(--VeryLightGrayBlue);
    padding: var(--standardSpacing);
    margin: 1em 0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    transition: .3s ease-in-out;
}

.padding {
    margin: 1rem 0;
}

.notification img {
    height: 50px; 
    margin-right: var(--standardSpacing);
}

.name {
    font-weight: 800;
    margin-right: 0.2em;
    transition: .2s ease-in-out;
}

.name:hover {
    color: var(--blue);
    cursor: pointer;
}

.greyText {
    color: var(--grayBlue);
}

.postName {
    font-weight: 800;
    color: var(--DarkGrayishBlue);
    transition: .2s ease-in-out;
}

.postName:hover {
    color: var(--blue);
    cursor: pointer;
}

.dot {
    color: var(--red);
    font-size: 1rem;
    margin-left: .5em;
    transition: .2s ease-in;
}

.hidden {
    font-size: 0rem;
    overflow: hidden;
}

.timeMark {
    color: var(--grayBlue);
    position: absolute;
    left: 11.5%;
    bottom: -10%;
}

.message {
    color: var(--grayBlue);
    /* position: absolute;
    left: 11.5%;
    top: 85%; */
    padding: 1rem;
    width: 48vw;
    margin-left: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.message:hover {
    background-color: var(--lightBlue2);
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}

.notificationWhite {
    display: flex;
    justify-content: flex-start;
    padding: var(--standardSpacing);
    position: relative;
    border-radius: 10px;
}

.notificationWhite img {
    height: 50px; 
    margin-right: var(--standardSpacing);
}

.notificationWhiteImg {
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    justify-content: flex-start;
    padding: var(--standardSpacing);
    position: relative;
    border-radius: 10px;
}

.content img {
    height: 50px; 
    margin-right: var(--standardSpacing);
}

.imageNoti img {
    height: 50px;
    margin-right: .5em;
    margin-top: var(--standardSpacing);
    transition: .3s ease-in-out;
}

.imageNoti img:hover {
    cursor: pointer;
    transform: scale(115%);
}

.timeKimberly {
    color: var(--grayBlue);
    position: absolute;
    left: 18.5%;
    bottom: -10%;
}

.notificationNathan {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: var(--standardSpacing);
    position: relative;
    border-radius: 10px;
}

.notificationNathan img {
    height: 50px; 
    margin-right: var(--standardSpacing);
}

.postNameNathan {
    font-weight: 800;
    color: var(--DarkGrayishBlue);
    transition: .2s ease-in-out;
}

.postNameNathan:hover {
    color: var(--blue);
    cursor: pointer;
}
